<html>
    <head>
        
    </head>
    <body>
        <h2>Welcome to {{name+"'s"}} Home</h2><br>
        <p>This is your Main Home Page</p>
        <ul>
            {% for i in arr %}
            {% if i%2 != 0 %}
                <li>{{i}}</li>
            {% endif %}
            {% endfor %}
            <!-- <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li> -->
        </ul>

        <ul>
            {% for i in range(10) %}
            {% if i%2 != 0 %}
                <li>{{i}}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </body>
</html>